
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Segoe UI', sans-serif;
    color: var(--black);

    font-size: 62.5%; 
    
    --blue: #006c7dd9;
    --black: rgba(0, 0, 0, 0.7);
    --white: rgb(250, 250, 250);
    --fundobg: #F2F3F7;
}

body, button, input, textarea, fieldset, select, placeholder {
    font-size: clamp(14px, 1.9rem, 2vw);  
    background: var(--white);
}

ul, ol, li {
    list-style: none;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: react(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}