@charset "UTF-8";

main, #main-footer {
    background: white;
}

#contato-fundo {
    display: block;
    background-image: url(../img/backgrounds/pexels-david-underland-3237941.jpg);
    background-position: center;
    background-position-y: 1px;
    background-position-x: -1px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    filter: grayscale(0.35);
    margin-bottom: -2px;
}

/****************** Cabeçalho *******************/

.container-topo {   
    display: block;
    background-image: url(../img/backgrounds/1.jpg);
    background-position: center;
    background-position-y: 1px;
    background-position-x: -1px;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90vh;
}

#cabecalho {
    width: 100%;
    height: 3em;
    display: block;
    box-sizing: content-box;
    border-bottom: 1rem solid;

}

.menu-principal {  
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 15px auto !important;
}

.menu-principal-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.celular {
    display: flex;
    align-items: center;
    width: 400px;
}

.celular div img:first-child {
    width: 30px;    
}

.celular div:nth-child(2) {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.1em; 
    margin-left: 10px;
    font-weight: 400;
    height: 100%;
    width: 120px;
    color: var(--black);
}

.celular div:last-child {
    font-weight: 500;
    font-size: 1.7em;
    padding-bottom: 1rem;
}

.celular a {
    text-decoration: none;
    color: var(--black);
    font-size: 0.9em;
    transition: all 0.3s;
}

.container-topo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;    
    height: 100%;
    margin-top: -1rem;
}

.container-topo img {
    min-width: 100px;
    width: 12vw;
    opacity: 0.95;
}
.container-topo h1 {
    padding-top: 40px;
    color: black;
    text-transform: uppercase;
    text-shadow: 0px -5px 4px var(--black),
                 0px 0px 30px white,
                 0px 0px 30px white,
                 0px 0px 30px white,
                 0px 0px 30px white,
                 0px 0px 30px white,
                 0px 0px 30px white,
                 0px 0px 30px white;
    font-size: 1.5em;
}

.container-topo .nav1, .container-topo .nav2 {    
    width: 15vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-transform: uppercase;
}

.container-topo .nav1 li, .container-topo .nav2 li {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    transition: all 0.3s;
    /* text-shadow:    0px 5px 4px var(--black), 
                    0px 0px 30px white,
                    0px 0px 30px white,
                    0px 0px 30px white,
                    0px 0px 30px white,
                    0px 0px 30px white;*/
                
    line-height: 6rem;
    padding: 0 1em;
    margin: 1em;
    
    background: rgba(255, 255, 255, 0.8);
}

.container-topo .nav1 li:hover, .container-topo .nav2 li:hover {
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.container-topo .nav1 li:first-child {
    border-radius: 2em 0 0 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.container-topo .nav1 li:last-child {
    border-radius: 0 0 0 2em;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
}

.container-topo .nav2 li:first-child {
    border-radius: 0 2em 0 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.container-topo .nav2 li:last-child {
    border-radius: 0 0 2em 0;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
}

.container-topo .nav1 li {
    background: linear-gradient(to right,rgba(255, 255, 255),
                                        rgba(255, 255, 255),
                                        rgba(255, 255, 255),
                                        rgba(255, 255, 255, 0));
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent) 1;
    justify-content: right;
    margin-right: -2em;
}

.container-topo .nav2 li {
    background: linear-gradient(to left,rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255, 0));
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent) 1;
    justify-content: left;
    margin-left: -2em;
}

.container-topo .nav1 a, .container-topo .nav2 a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    cursor: pointer;
}


/*********************** Main *********************/


.limited {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto ;
}

/* Sobre */

#sobre {    
    border-top: 5px solid;
    border-image: linear-gradient(to right, var(--blue), transparent, var(--blue)) 60;
    background: white;
}

.bg_fundo {
    display: block;
    font-size: 2em;
    text-transform: uppercase;
    background-image: url(../img/backgrounds/pexels-david-underland-3237941.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    filter: brightness(80%);
    margin: 6em auto -2em;
    height: auto;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: #00d9fa15;
}

.sobre-container {
    display: flex;
    justify-content: center;
    margin: 5em auto;
}

.sobre-info {
    margin-top: 100px;
    background-image: radial-gradient(circle 20em, rgba(0, 0, 0, 0.3), transparent);
    display: flex;
    align-items: center;
    height: 200px;
}

.dev {
    width: 100%;
    text-align: left;
}

.dev p:nth-child(3) {
    width: 40vw;
    padding: 1em 0;
}

.img-circular {
    width: 250px;
    border-radius: 50%;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.6);
    right: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 200px;
}

.quote {
    display: flex;
    align-items: center;
    text-align: end;
}

.quote p {
    padding: 1rem 0;
}

blockquote::before {
    content: open-quote;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: var(--blue);
}

.quote p:last-of-type::after {
    position: absolute;
    margin-top: -15px;
    content: close-quote;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: var(--blue);
}

blockquote {
    padding: 1em 0 1.3em;
}

@media (max-width: 870px) {
    .quote {
        display: none;
    }
}

.label:not(p:nth-child(2)){
    color: var(--blue);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 200px;
    height: auto;

    /* border: 1px solid black; */
}

/******************* Tecnologias */

.h2-title  {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--blue);
}

.tecnologias-container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;    
}

.tecnologias div {
    margin: 0.4rem;
}

.card {
    border-radius: 50%;
    padding: 15px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2rem;
    border-top: 2rem;
}

.tecnologias p {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
}

.card picture {
    border-radius: 50%;
    box-sizing: border-box;
}

.tecnologias {
    margin-top: 6rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.card img {
    filter: grayscale(0.95);
    transition: 0.5s all;
}

.tecnologias .card img:hover {
    transform: scale(1.2);
    filter: none;
}

.paralax-fundo {
    background-image: url(../img/backgrounds/matrix-global.jpg);
    background-attachment: fixed;
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    
}

/************* Portfolio ************/

#portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20em auto;
    font-size: 0.8em;
    width: 100%;
    /* height: 800px; ******** tirar ***** */
}

.gallery {
    margin: 4em auto 14em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    max-width: 80vw;
    /* flex: 0 1 auto; */
}

.job {
    margin: 1em 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* min-width: 250px; */
    /* width: 100%; */
    width: clamp(250px, 320px, 350px);   
    transition: 0.3s;
}

.job a {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.job:hover {
    transform: scale(1.2);
}

.gallery figure img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.matrix {
    display: flex;
    justify-content: center;
    padding-top: 5em;      
}

.paralax-fundo article p {    
    display: block;
    padding-left: 3rem;
    font-family: 'Courier New', sans-serif, monospace;
    font-weight: 500;
    font-size: 1.2em;
    text-shadow:    0px 0px 2px black,
                    0px 0px 2px black,
                    0 0 1em rgb(192, 192, 192),
                    0 0 1em rgb(192, 192, 192),
                    0 0 1em rgb(0, 184, 40),
                    0 0 1em rgb(0, 184, 40);  
}

#cursor {
    margin-left: -1rem;
    font-weight: bolder;
    font-size: 4rem;
}

.blink {
    opacity: 0;
}

/*********************** Formulário *********************/

.fale-comigo {
    margin: 5rem 1rem;
    padding: 1em;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

#contato article {
    margin: 6rem 0 -2px;
    padding-right: 1rem;
    background-image: radial-gradient(farthest-side at 100% 0%, rgb(0, 17, 20), var(--blue) 50%, transparent),
                      radial-gradient(farthest-side at 0% 100%, rgb(0, 17, 20), var(--blue) 50%, transparent);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 80px 80px 0 0;
}

#contato h2 {
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

#contato h2, #contato p {
    text-shadow: -2px -2px 3px var(--black);
}

#type-form {
    width: 100%;
    margin-right: 1em;
    overflow: hidden;
}

#box-contato {
    max-width: 400px;
    min-width: 400px;
    height: 400px;
    display: block;
    border-radius: 5px;
    background-color: var(--black);
    border-right: 2rem solid rgb(20, 20, 20); 
    border-left: 2rem solid rgb(20, 20, 20); 
}

#box-contato h2 {
    text-align: center;
    padding-top: 1rem;
    font-weight: normal;
    padding: 0 0.5em 0.5em 0.5em;
    font-size: 2.5rem;
    margin-bottom: 1em;
}

#box-contato ul {
    list-style: none;
}

#box-contato li:nth-of-type(odd) { 
    padding-left: 1em; 
    font-size: 1.3em;
}

#box-contato li:nth-of-type(even) { 
    padding-left: 2em; 
    padding-bottom: 1.3em;
} 

/* 
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: white;
    box-sizing: border-box;
    width: 60%;
    padding: 3rem 3rem 0 1rem;
    border-left: 1.5rem dotted var(--blue);
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 7rem;

    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.25);
    
    border-radius: 15px;
    margin: 0.5rem 0;
}


fieldset:last-of-type {
    height: 15rem;
}

legend {
    margin-left: 15px;
    text-indent: 5px;
    text-shadow: 0 -1px 1px white;
    margin-top: -10px;
    line-height: 1.9;
}

form legend:focus-within {
    font-weight: bold;
    color: var(--blue);
}

input {
    width: 97%;
    padding-left: 1rem;
    border: none;
    outline: none;
}

fieldset:focus-within {
    border: 3px solid var(--blue);
}

textarea {
    height: 100%;
    width: 97%;
    resize: none;
    outline: none;
}

#botao-enviar {
    color: white;
    font-weight: bold;
    width: 250px;
    height: 70px;
    margin: 40px auto 100px auto;
    background-color: var(--blue);
    border-radius: 40px;
}

#botao-enviar:hover {
    background: var(--white);
    color: var(--blue);
    border: 3px solid var(--blue);
    cursor: pointer;
} */

.rodape-full {    
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: var(--white);
    height: 15rem;
}

.rodape {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.nav-rodape {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape div {
    font-size: 1.6rem;
    /* width: 100px; */
}

.rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
}

.nav-rodape .nav1 a:hover, .rede-social:hover {
    opacity: 1;
}

.nav-rodape .nav1 a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.6;
    font-size: 1.6rem;
    line-height: 3rem;
}

.rodape div:nth-last-child(1) {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
}

.rodape div:first-of-type {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
}


/****************** Responsivo *******************/

@media (max-width: 870px) {
    .limited {
        width: 95vw;
    }

    #cabecalho {
        min-height: 85px;
    }

    .menu-principal {
        display: flex;
        flex-direction: column;
    }

    .logo-escrito {
        padding-bottom: .4rem
    }

    .celular {
        justify-content: center;
        padding-top: .4rem;
        border-top: 2px solid;
        border-image: linear-gradient(to right, transparent, var(--blue), transparent) 1;
    }
    
    .sobre-info {
        height: normal;
        margin: 1rem 2rem;
    }

    .fale-comigo {
        margin-top: 0rem auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        margin: 1rem;
        width: 80%;
        min-width: 320px;
    }

    #contato article div:first-child {
        padding: 0;
        border-radius: 3em 3em 0 0;
        text-align: center;
    }

    #type-form {
        margin: 0 0 1em;
        width: 100%;
    }
}

@media (max-width: 480px) {

    .container-topo {   
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 80vh;
    }

    .sobre-info {
        flex-direction: column;
        height: normal;
        margin: 1rem 2rem 20rem 2rem;
    }

    .dev p {
        width: 100vw;
        padding: 1rem 2em;
        text-indent: 2em;
        text-align: justify;
    }

    .dev p:nth-child(3) {
        width: 100vw;
        padding: 0em 2em 2em;       
    }

    .img-circular {
        margin-top: 3rem;
    }

    .sobre-info {
        background: none;
    }

    .paralax-fundo {
        height: 200px;
    }

    .matrix {
        font-weight: normal;
    }

    #cursor {
        font-size: 5rem;
        text-indent: 1rem;
    }

    #cabecalho {
        min-height: 100px;
    }

    .celular {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: .4rem;
        border-top: 2px solid;
        border-image: linear-gradient(to right, transparent, var(--blue), transparent) 1;
    }

    .celular img {
        display: none;
    }

    .celular div:nth-child(2) {
        width: 100%;
        text-align: center;
    }

    .celular div:nth-last-child() {
        min-width: 300px;
    }

    .job {
        min-width: 100vw;
    }

    .job:hover {
        transform: scale(0.9);
    }

    form {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    #box-contato {
        width: 100%;
        margin-top: 1em;
    }
}