@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


header {
    color: #FF8A39;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), #1A296E, rgba(255, 255, 255, 0.1));
    width: 100vw;
    height: 80px;
    text-shadow: 1px 1px 2px white;
    text-align: center;    
}

.cabecalho {
    font-size: 1.4em;
    font-weight: bolder;
}

.interface {
    background: #fff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, #ff8c393f, #1a296e80);
    border-radius: 50px;
}

.acesso h2 {
    text-align: center;
    color:rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.486);
}

.acesso p {
    padding-top: 10px;
    color:rgba(0, 0, 0, 0.9);
}

form {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #fff;
    width: 80%;
    background-color: transparent;    
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50px;
    background-color: white;
    color:rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.15);    
    border-radius: 10px;
    margin: 5px auto;
}

form fieldset input placeholder {
    background: blue;
    color: rgba(228, 12, 12, 0.75); /*ACERTAR esse seletor*/
}

legend {
    color: #1a296ec2;
    font-weight: 600;
    font-size: 1.1em;
    margin: auto 10px; 
}

input {
    width: 97%;
    height: 90%;
    margin-top: 0;
    border: transparent;
}

input::selection {
    border: transparent;
}

#botao-enviar {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin: 20px auto 30px auto;
    background-color: #1A296E;
    border-radius: 20px;
}

#botao-enviar:hover {
    background: #fff;
    color: #1A296E;
    border: 3px solid #1A296E;
    cursor: pointer;
}

form a {
    color: white;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1em;
    text-align: end;
    text-decoration: none;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
}